#root {
  display: grid;
} 

body {
  background-image: url("apple-drink.jpg");
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 40px 100px;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 1024px;
}

/* styling for the 'add drink' form */
#drinkForm {
  background-color: #A29587;
  font-weight: bold;
  max-width: 50%;
  margin-top: 2%;
}

/* styling for the solid banner behind 'MixIt' on main page */
.header {
  position: fixed;
  background-color: #A29587;
  max-height: 10em;
  width: 100%;
  z-index: 2;
  background-attachment: fixed;
}

/* styling for 'MixIt' at top of main page */
#header-title {
  text-align: center;
  font-size: 11em;
  max-width: 2em center;
  font-family: 'Kaushan Script', cursive;
  margin-top: -2%;
  background-attachment: fixed;
}

#app-description {
  text-align: center;
  background-color: #ADB993;
  max-width: 30%;
  margin-left: 35%;
  margin-top: -1%;
  border-radius: 20px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 35px;

}

#app-description-login {
  text-align: center;
  background-color: #ADB993;
  max-width: 30%;
  margin-left: 35%;
  margin-top: -1%;
  border-radius: 20px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 35px;
}
    
/* styling for the login page, specifically the background image for login page */
#loginRegister {
  height: 100%;
  background-image: url("copper-mug.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  z-index: 1;
}

/* login user styling on login page */
.login {
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 10px;
  margin-left: 70px;
  max-width: 28%;
  position: fixed;
}

/* register user styling on login page */
.register {
  font-size: 25px;
  font-weight: bold;
  margin-top: 500px;
  margin-left: 70px;
  color: whitesmoke;
  max-width: 28%;
  position: fixed;
}


.login-header {
  position: fixed;
  max-height: 10em;
  width: 100%;
  z-index: 2;
  background-attachment: fixed;
}

/* .form-group {
  width: 300px;
  padding: 5px;
  margin-left: 550px;
  background-color: #A29587;
} */

/* .form {
  width: 400px;
} */

/* styling for 'Welcome to MixIt' on login page */
.welcome {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 10em;
  background-color: #A29587;
  max-width: 5em center;
  margin-top: 0%;
  background-attachment: fixed;
}

.login-form {
  width: 300px;
  padding: 5px;
  margin-left: 10px;
  z-index: 2;
}

.register-form {
  width: 300px;
  padding: 5px;
  margin-left: 10px;
  z-index: 2;
}


.drink {
  padding: 50px;
  margin-top: 12%;
  
}





