#root {
  display: grid;
} 

body {
  background-image: url("apple-drink.jpg");
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 40px 100px;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 1024px;
}

/* styling for the 'add drink' form */
#drinkForm {
  background-color: #A29587;
  font-weight: bold;
  max-width: 50%;
  margin-top: 2%;
}

/* styling for the solid banner behind 'MixIt' on main page */
.header {
  position: fixed;
  background-color: #A29587;
  max-height: 10em;
  width: 100%;
  z-index: 2;
  background-attachment: fixed;
}

/* #drink-name {
  margin: 3px;
  text-align: left;
  padding: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;

} */
/* styling for 'MixIt' at top of main page */
#header-title {
  text-align: center;
  font-size: 11em;
  /* background-color: #A29587; */
  max-width: 2em center;
  font-family: 'Kaushan Script', cursive;
  margin-top: -2%;
  /* border-radius: 50%; */
  background-attachment: fixed;
}

#app-description {
  text-align: center;
  background-color: #ADB993;
  max-width: 30%;
  margin-left: 35%;
  margin-top: -1%;
  border-radius: 20px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 35px;

}

#app-description-login {
  text-align: center;
  background-color: #ADB993;
  max-width: 30%;
  margin-left: 35%;
  margin-top: -1%;
  border-radius: 20px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 35px;
}
    
/* styling for the login page, specifically the background image for login page */
#loginRegister {
  height: 100%;
  background-image: url("copper-mug.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  z-index: 1;
}

/* register user styling on login page */
.register {
  font-size: 25px;
  font-weight: bold;
  margin-top: 550px;
  margin-left: 550px;
  color: whitesmoke;
  /* background-color: #A29587; */
  max-width: 28%;
}

/* login user styling on login page */
.login {
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 165px;
  margin-left: 550px;
  /* background-color: #A29587; */
  max-width: 28%;
}

.login-header {
  position: fixed;
  /* background-color: #C7C7C8; */
  max-height: 10em;
  width: 100%;
  z-index: 2;
  background-attachment: fixed;
}

/* .form-group {
  width: 300px;
  padding: 5px;
  margin-left: 550px;
  background-color: #A29587;
} */

/* .form {
  width: 400px;
} */

/* styling for 'Welcome to MixIt' on login page */
.welcome {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 10em;
  background-color: #A29587;
  max-width: 5em center;
  margin-top: 0%;
  background-attachment: fixed;
  /* z-index: 3; */
}

.login-form {
  width: 300px;
  padding: 5px;
  margin-left: 550px;
  /* background-color: #A29587; */
}

.register-form {
  width: 300px;
  padding: 5px;
  margin-left: 550px;
  /* background-color: #A29587; */
}



.drink {
  padding: 50px;
  /* margin-left: 3%; */
  margin-top: 12%;
  
}

/* .card {
  width: 30em;
  background-color: #BBBB97;
  padding: 10px;
  grid-row-start: 6;
  grid-column-start: 6;
  z-index: 1
} */



