#root {
  display: grid;
} 

body {
  background-image: url("apple-drink.jpg");
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 1024px;
}

#drinkForm {
  background-color: #D6BDAD;
  max-width: 50%;
}

.header {
  position: fixed;
  background-color: gray;
  /* padding: 2px; */
  max-height: 12em;
  width: 100%;
  z-index: 2;
}

#drink-name {
  margin: 3px;
  text-align: center;
  padding: 15px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3em;

}

#header-title {
  text-align: center;
  font-size: 10em;
  /* background-color: #BCBD8B; */
  max-width: 4em center;
  font-family: 'Kaushan Script', cursive;
  margin-top: 0%;
  /* border-radius: 50%; */
  /* max-width: 15% center; */


  /* border-radius: 50px; */
  /* margin: 25%; */
}

/* #header-description {
  text-align: center;
} */

.login {
  font-size: 25px;
}

.register {
  font-size: 25px;
  /* margin-top: 25%; */



}

#loginRegister {
  height: 100%;
  background-image: url("creamy-drink.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;


}
.form-group {
  width: 300px;
  padding: 5px;
}

.form {
  width: 400px;
}

.welcome {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 9em;
  background-color: #C98B10;

  /* border: black solid 8px; */
}
.drink {
  padding: 50px;
  /* margin-left: 3%; */
  margin-top: 12%;
  
}

/* .card {
  width: 30em;
  background-color: #BBBB97;
  padding: 10px;
  grid-row-start: 6;
  grid-column-start: 6;
  z-index: 1
} */



